DATABASE_URL="postgresql://postgres:pass@localhost:5432/eventplanner?schema=public"

NODE_ENV="development"

PORT=5000

JWT_SECRET="asdgfoasdghdioawyqweityqwetafasdfsdfsdafsdfsdfsad"

EXPIRES_IN="1d"

REFRESH_TOEKN_SECRET="adhfuoadsghfiwyiqerytq379tyrutgq3454357345fgkdfadfgasdfasdg"

REFRESH_TOEKN_EXPIRES_IN="30d"

RESET_PASS_TOKEN="dsfqgq34yterghkgbhsdfogh45ty234thlkjvjbhsdfokvghqt2437t3ou7tqnvasdfg"

RESET_PASS_TOKEN_EXPIRES_IN='5m'



EMAIL="rimonamdadul301@gmail.com"

APP_PASSWORD="hwazopngoojnxvcr"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_PASS="hwazopngoojnxvcr""uYqRqnOlJ8ZWHurfAyp3EHcrMXc"
